body
{
  background-color: black;
  text-align: center;
}

#title
{
   font-weight: normal;
   font-size: 50px;
   text-align: center;
   color: white;
   font-family: verdana;
}

/*
*****this formats the text of the second and third titles
*/
.titletwo
{
   font-weight: 300;
   font-size: 42px;
   color: white;
   font-family: verdana;
}

#greytitle
{
   font-size: 21px;
   color: grey;
}


/*
font formatting for the download link
*/

.fontformat
{
   color: aquamarine;
   font-size: 16px;
   text-decoration: underline;
   font-family: verdana;
}

/*
*****copyright font formatting
*/
.copyright
{
   text-align: right;
   color: grey;
}

.fontv
{
  font-family: verdana ;
}
